*{
    margin:0px;
    padding:0px;
}

body,p{
    font-family: 'Comfortaa', cursive;
    background-attachment: fixed; 
    font-size: 19px;  
}

.logo{
    height:50px;
}

p{
    text-align: justify;
}
.community{
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color:rgb(18, 136, 233);
}
.navbar-brand{
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color:rgb(18, 136, 233);
}
.navbar-brand:hover{
    text-decoration: none;
    color:rgb(18, 136, 233);
}
.sec-heading{
    color:rgb(18, 136, 233);
    font-family: 'Comfortaa', cursive;
    padding:10px 0px 10px 0px; 
}

.join-com{
    text-align: center;
    padding-top:100px;
}

nav{
    background-color: white;
}
.sec-even,.sec-video{
    background-size: cover;
    background-image:linear-gradient(to right,rgb(18, 136, 233,1),rgb(135, 206, 235,0.8)), url(../images/bodybg.jpg);
    background-attachment: fixed;
}
.sec-odd{
    margin:10%;
}
.quote{
    padding-top:18%;
    padding-bottom:18%;
    text-align:center;
    font-family: 'Comfortaa', cursive;
    color:white;
}
.joinus{
    text-decoration: none;
    color:white;
}
.btn-blue{
    width:80px;
    height: 40px;
    background-color:rgb(18, 136, 233);
    color:white;
    border-radius: 5px;
    border-style: none;
    font-family: 'Righteous', cursive;
}

.btn-blue:hover{
    width:80px;
    height: 40px;
    background-color:rgb(18, 136, 255);
    color:white;
    border-radius: 5px;
    border-style: none;
    font-family: 'Righteous', cursive;
}

.btn{
    width:90px;
    height: 40px;
    background-color:white;
    color:rgb(18, 136, 233);
    font-family: 'Righteous', cursive;
}

.btn:hover{
    width:90px;
    height: 40px;
    background-color:white;
    color:rgb(18, 136, 255);
    font-family: 'Righteous', cursive;
}

.img-sec{
    border-radius: 20px;
    margin-top: 10%;
}

.img-vid{
    border-radius: 20px;
    height: 600px;
    width:100%;
}
.section-image{
    height:300px;
    margin:auto;
    float:center;
    width: auto;
    border-radius: 20px;
}
.footer-p{
    text-align: center;
    padding-top:12px;
    color: white;
}
footer{
    height: 50px;
}
.footer-class{
    background-color: rgb(18,136,233);
}
.gap{
    margin-top: 20px;
}
.donatation{
    margin: 20px 0px 20px 0px;
    text-align: center;
    border-color: rgb(18,136,233);
}

@media only screen and (min-width: 720px) {  
    .mobile{
        display:none;
    }
}


@media only screen and (max-width: 720px) {
    .img-vid{
        border-radius: 20px;
        height: 200px;
        width:100%;
    }   
    .desktop{
        display:none;
    }
    .navbar-brand{
        font-family: 'Righteous', cursive;
        text-decoration: none;
        color:rgb(18, 136, 233);
        align-self: center;
        float:none !important;
    }
    .join-com{
        text-align: center;
        padding-top:15px;
    }
    
    .quote{
        padding-top:30%;
        padding-bottom:18%;
        text-align:center;
        font-family: 'Comfortaa', cursive;
        color:white;
    }
    body,p{
        font-family: 'Comfortaa', cursive;
        background-attachment: fixed; 
        font-size: 15px;  
    }
    
}
